<%flashdrive = @flashdrive %>
<h2><%=flashdrive.model %></h2>
<ul>
  <li><strong>Color: </strong><%=flashdrive.color %></li>
  <li><strong>Size: </strong><%=flashdrive.size %></li>
  <li><strong>Price: </strong><%=number_to_currency(flashdrive.price) %></li>
  <li><strong>Description: </strong><%=flashdrive.description %></li>
</ul>
