
<%= form_for(@movie) do |f| %>

  <%=render 'shared/errors', object: @movie %>


    <div class="form-group">
      <%=f.label :title %>
      <%=f.text_field :title, class:"form-control", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :rating %><br>
      <%= f.select :rating, Movie::RATINGS, class:"form-control", prompt: "Pick One"%>
    </div>

    <div class="form-group">
      <%= f.label :released_on %><br>
      <%= f.date_select :released_on, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :total_gross %>
      <%= f.number_field :total_gross, class:"form-control" %>
    </div>

    <div class="form-group">
      <%=f.label :cast %>
      <%=f.text_field :cast, class:"form-control" %>
    </div>


    <div class="form-group">
      <%=f.label :director %>
      <%=f.text_field :director, class:"form-control" %>
    </div>

    <div class="form-group">
      <%=f.label :duration %>
      <%=f.text_field :duration, class:"form-control" %>
    </div>

    <div class="form-group">
      <%=f.label :image_file_name %><br>
      <%=f.text_field :image_file_name, placeholder: "*.png, *.jpg, *.gif" %>
    </div>

    <%=f.submit class:"btn btn-primary mr-2" %>



<% end %>