

<h1><%=@movie.title %></h1>
<%=image_for(@movie) %>

<div class="btn-group my-3" role="group">
  <%=link_to "Write a Review", new_movie_review_path(@movie), class:"btn btn-primary mr-2" %>
  <%=link_to "Reviews", movie_reviews_path(@movie), class:"btn btn-primary mr-2" %>
  <%=link_to "Edit Movie", edit_movie_path(@movie), class:"btn btn-primary mr-2" %>
  <%=link_to "Delete Movie", movie_path, method: :delete, data:{confirm:"Are you sure?"}, class:"btn btn-primary mr-2" %>
</div>

<table class="table table-sm">
  <thead>
  </thead>
  <tbody>
  <tr>
    <th>Description</th>
    <td><%=@movie.description%> </td>
  </tr>
  <tr>
    <th>Released</th>
    <td><%= @movie.released_on%></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= @movie.rating %></td>
  </tr>
  <tr>
    <th>Director</th>
    <td><%= @movie.director %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%= @movie.duration %></td>
  </tr>
  <tr>
    <th>Total Gross</th>
    <td><%= format_total_gross(@movie) %></td>
  </tr>
  <tr>
    <th>Average Ratings</th>
    <td><%=format_average_stars(@movie)%></td>
  </tr>
  </tbody>
</table>


<%if @movie.recent_reviews.any? %>
  <h2>Recent Reviews</h2>
  <%@movie.recent_reviews.each do |review| %>
    <ul class="list-group list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%=review.name %></h5>
        <small><%=time_ago_in_words(review.created_at)%> ago.</small>
      </div>
      <%review.stars.times do %> <i class="fa fa-star fa-fw fa-1x py-1"></i> <%end %>
      <p class="mb-1"><%=review.comment %></p>
    </ul>
  <%end %>
  <%=link_to "Read All Reviews", movie_reviews_path(@movie),class:"btn btn-primary my-3" %>




<%end %>
