<!DOCTYPE html>
<html>
  <head>
    <title>Super-Heroic Flix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/header' %>



    <div class="container">
      <div class="row">
        <div class="sidebar col-3">
          <%=render 'layouts/sidebar' %>
        </div>
        <div class="main col-9">
          <%if flash[:notice] %>
            <div class="alert alert-success"><%=flash[:notice] %></div>
          <%end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%=render 'layouts/footer' %>
  </body>
</html>
