<!DOCTYPE html>
<html>
  <head>
    <title>Super-Heroic Flix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/header' %>
    <%=render 'layouts/sidebar' %>

    <%if flash[:notice] %>
      <p class="flashnk"><%=flash[:notice] %></p>
    <%end %>

    <%= yield %>
    <%=render 'layouts/footer' %>
  </body>
</html>
