<h1><%=@movies.count %> Movies</h1>

<%@movies.each do |movie| %>
  <ul>
    <li><strong><%=movie.title %></strong></li>
    <li><strong>Rating:</strong><%=movie.rating %></li>
    <li><strong>Total Gross:</strong><%=number_to_currency(movie.total_gross) %></li>
    <li><strong>Description:</strong><%=truncate(movie.description, length: 40, separator: ' ') %></li>
    <li><strong>Released On:</strong><%=movie.released_on %></li>
  </ul>
<% end %>
