<%=form_for([@movie, @review]) do |f| %>
  <%=render 'shared/errors', object: @review %>

  <div class="form-group">
    <%=f.label :name %>
    <%=f.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :stars %>
    <%=f.select :stars, Review::STARS, prompt: "Pick stars", class: "form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :comment %>
    <%=f.text_area :comment, class:"form-control" %>
  </div>

  <%=f.submit 'Post Review', class:"btn btn-primary mr-2" %>
  <%=link_to 'Cancel', movie_path(@movie), class:"btn btn-primary" %>


<%end %>