
<h1><%=pluralize(@movies.count, 'Movie')%></h1>
<%=link_to "Add New Movie", new_movie_path %>

<% @movies.each do |movie| %>
  <article>
    <header>
      <h2><%= link_to movie.title, movie_path(movie.id) %></h2>
      <%= image_for(movie) %>
    </header>
    <p>
      <%= truncate(movie.description, length: 40, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Released:</th>
        <td><%= movie.released_on %> (<%=time_ago_in_words(movie.released_on) %> ago)</td>
      </tr>
      <tr>
        <th>Rating:</th>
        <td><%= movie.rating %></td>
      </tr>
      <tr>
        <th>Total Gross:</th>
        <td><%= format_total_gross(movie) %></td>
      </tr>
      <tr>
        <th>Cast:</th>
        <td><%= movie.cast %></td>
      </tr>
      <tr>
        <th>Director:</th>
        <td><%= movie.director %></td>
      </tr>
      <tr>
        <th>Duration:</th>
        <td><%= movie.duration %></td>
      </tr>
    </table>
  </article>
<% end %>



<%=render 'footer' %>