<article>
  <header>
    <h2><%= @movie.title %></h2>
  </header>
  <p>
    <%=@movie.description%>
  </p>
  <table>
    <tr>
      <th>Released:</th>
      <td><%= @movie.released_on %> (<%=time_ago_in_words(@movie.released_on) %> ago)</td>
    </tr>
    <tr>
      <th>Rating:</th>
      <td><%= @movie.rating %></td>
    </tr>
    <tr>
      <th>Total Gross:</th>
      <td><%= format_total_gross(@movie) %></td>
    </tr>
  </table>
</article>