
<h1><%= @movie.title%></h1>
<%=image_for(@movie) %>
<p><%=@movie.description%></p>
<strong>Release Date: </strong><%= @movie.released_on %> (<%=time_ago_in_words(@movie.released_on) %> ago)<br>
<strong>Rating: </strong><%=@movie.rating %><br>
<strong>Total Gross: </strong><%=format_total_gross(@movie) %><br>
<strong>Cast: </strong><%=@movie.cast%><br>
<strong>Director: </strong><%=@movie.director%><br>
<strong>Duration: </strong><%=@movie.duration%><br>
<strong><%= link_to "All Movies", root_path %></strong> |
<%=link_to "Reviews", movie_reviews_path(@movie) %> |
<%=link_to "Edit Movie", edit_movie_path(@movie) %> |
<%=link_to "Delete Movie", movie_path, method: :delete, data:{confirm:"Are you sure?"} %>
